<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="../public/css/component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar-container">
        <div class="logo-navigation">
            <div class="img-logo">
                <img src="../assets/Kembangin-logo.png" alt="">
            </div>
            <div class="logo-text">
               <h4>Kembang<span>IN</span></h4>
            </div>
        </div>
        <div class="right-side">
            <div class="navbar-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text">
            </div>
            <div class="navbar-navigation">
                <ul>
                    <li><a href="">Beranda</a></li>
                    <li><a href="">Artikel</a></li>
                    <li><a href="" class="navbar-dropdown">Produk<i class="fa-solid fa-angle-down"></i></a></li>
                    <li><a href="">Forum</a></li>
                </ul>
            </div>
            <div class="navbar-btn">
                <a href="" class="notif-btn"><i class="fa-solid fa-bell"></i></a>
                <a href="" class="login-btn">Masuk</a>
            </div>
            <div class="profile-login"></div>
        </div>
    </nav>
    <div class="dropdown-container">
        <div class="dropdown-produk">
            <ul>
                <li>
                    <a href="" class="drop">
                        <span>
                            <i class="fa-solid fa-chalkboard-user"></i> Belajar 
                        </span>
                        <i class="fa-solid fa-angle-right"></i></a>
                </li>
                <li>
                    <a href="" class="drop">
                        <span>
                            <i class="fa-solid fa-microphone-lines"></i> Konsultasi 
                        </span>
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="" class="drop">
                        <span>
                            <i class="fa-solid fa-book"></i> Perpustakaan 
                        </span>
                        <i class="fa-solid fa-angle-right"></i></a>
                </li>
            </ul>
        </div>
        <div class="dropdown-profile">
            <div class="username-display">
                <span class="profile">S</span>
                <span class="username">
                    <h3>Seseorang203</h3>
                    <h5>seseorang@gmail.com</h5>
                </span>
            </div>
            <div class="premium">
                <span>Berlangganan</span>
                <i class="fa-solid fa-crown"></i>
            </div>
            <div class="profile-navigation">
                <ul>
                    <li><a href=""><i class="fa-solid fa-image-portrait"></i> Profil</a></li>
                    <li><a href=""><i class="fa-solid fa-table"></i> Dasbor</a></li>
                    <li><a href=""><i class="fa-solid fa-users"></i> Kominitas</a></li>
                </ul>
            </div>
            <div class="logout"><a href=""><i class="fa-solid fa-right-from-bracket"></i> Keluar</a></div>
        </div>
    </div>
    <div class="dropdown-search">

    </div>
</div>
    <script src="../public/js/component.js"></script>
</body>
</html>