<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kembangin</title>
    <link rel="stylesheet" href="../public/css/component.css">
    <link rel="stylesheet" href="../public/css/article.css">
    <link rel="stylesheet" href="../public/css/article-features.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css">
</head>
<body data-page="article">

  <site-navbar></site-navbar>
  <main>
    <div class="left-side">
      <article class="detail" id="detail"></article>
    </div>
    <div class="right">
      <div class="sidebar-section">
        <h3 class="sidebar-title">Artikel Terkait</h3>
        <ul class="sidebar-list" id="related"></ul>
      </div>
    </div>
  </main>
    <!-- script -->
    <script src="../components/Navbar.js"></script>
    <script src="../public/js/component.js"></script>
    <script src="../public/js/artikel-data.js"></script>
    <script src="../public/js/artikel.js"></script>
    <!-- script end-->
</body>
</html>