<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kembangin</title>
    <link rel="stylesheet" href="../public/css/component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css">
</head>
<body data-page="course">
  <site-navbar></site-navbar>

  <main>
    <section class="hero">...</section>
  </main>

    <!-- script -->
    <script src="../components/Navbar.js"></script>
    <script src="../public/js/component.js"></script>
    <!-- script end-->
</body>
</html>