<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kembangin</title>
    <link rel="stylesheet" href="../public/css/component.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css">
</head>
<body data-page="home">
  <site-navbar></site-navbar>

  <main>
    <section class="hero">
        <div class="left-side">
            <span class="tema">Insight untuk Pertumbuhan</span>
            <h2 class="title">Tumbuh Lebih Cepat, Melangkah <span>Lebih Jauh</span></span></h2>
            <p class="description">Pelajari bagaimana ekonomi memengaruhi bisnis, temukan strategi untuk mengembangkan usaha, dan dapatkan insight praktis yang bisa langsung diterapkan</p>
            <div class="button">
                <a href="" class="selengkapnya">Selengkapnya</a>
                <a href="" class="diskusi">Diskusi</a>
            </div>
            <div class="count-analist">
                <span>
                    <h4>100+</h4>
                    <span>orang berlangganan</span>
                </span>
                <span>
                    <h4>30+</h4>
                    <span>konsultan bisnis</span>
                </span>
                <span>
                    <h4>1jt+</h4>
                    <span>user aktif</span>
                </span>
            </div>
            <div class="colab">
                <ul>
                    <li><img src="../assets/logo-color-yellow.jpg" alt=""></li>
                    <li><img src="../assets/logo-color-blue.jpg" alt=""></li>
                    <li><img src="../assets/logo-color-violet.jpg" alt=""></li>
                </ul>
                <p>Bekerjasama dengan lebih dari <span>200</span> perusaahan besar dan terpercaya</p>
            </div>
        </div>
        <div class="right-side">
            <img src="../assets/hero-section-img.png" alt="">
        </div>
    </section>
    <div class="second-content">
        <div class="information">
            <ul>
                <li>
                    <i class="fa-solid fa-chart-column"></i>
                    <span>
                        <h4>Strategi Pertumbuhan</h4>
                        <p>Strategi meningkatkan kinerja dan mencapai pertumbuhan bisnis berkelanjutan</p>
                    </span>
                </li>
                <li>
                    <i class="fa-solid fa-arrow-trend-up"></i>
                    <span>
                        <h4>Pengembangan Bisnis</h4>
                        <p>Tingkatkan kemampuan, efisiensi, dan strategi untuk membangun bisnis yang lebih kuat</p>
                    </span>
                </li>
                <li>
                    <i class="fa-solid fa-magnifying-glass-chart"></i>
                    <span>
                        <h4>Wawasan Bisnis</h4>
                        <p>Pahami ekonomi, pasar, dan industri untuk mengambil keputusan yang tepat</p>
                    </span>
                </li>
                <li>
                    <i class="fa-regular fa-lightbulb"></i>
                    <span>
                        <h4>Inovasi & Peluang</h4>
                        <p>Temukan tren dan peluang baru untuk menghadapi perubahan pasar dan teknologi</p>
                    </span>
                </li>
            </ul>
        </div>
        <div class="artikel-recomand">
            <div class="title-content">
                <span>Article</span>
                <a href="">selengkapnya</a>
            </div>
            <ul>
                <li><img src="../assets/stategi-bisnis.jpg" alt=""></li>
                <li><img src="../assets/digital-bisnis.jpg" alt=""></li>
                <li><img src="../assets/pemasaran.jpg" alt=""></li>
                <li><img src="../assets/keuangan-bisnis.jpg" alt=""></li>
                <li><img src="../assets/inovasi.jpg" alt=""></li>
            </ul>
        </div>
        <div class="about-us">
            <div class="box">
                <div class="about">
                    <img src="../assets/Kembangin-logo.png" alt="">
                    <span>
                        <h3>Tentang Kembangin</h3>
                        <p>Kembangin adalah platform untuk belajar, mendapatkan insight, dan memperluas wawasan seputar bisnis, ekonomi, pemasaran, dan industri.Dengan Course, Consultation, dan Library, kami membantu kamu meningkatkan kemampuan, menemukan peluang, dan menghadapi perubahan dengan lebih siap.Belajar lebih banyak. Berkembang lebih jauh.</p>
                    </span>
                </div>
                <div class="why">
                    <h3>Kenapa Kembangin?</h3>
                    <p>Karena berkembang membutuhkan lebih dari sekadar informasi. Kembangin menggabungkan pembelajaran, konsultasi, dan wawasan untuk membantu kamu mengambil langkah yang lebih tepat.</p>
                    <div class="analisa-why">
                        <span><h4>20+</h4> komunitas</span>
                        <span><h4>100+</h4> artikel</span>
                    </div>
                </div>
            </div>
            <div class="product">
                <ul>
                    <li>
                        <h3>Konsultasi Dengan Ahlinya</h3>
                        <p>Dapatkan wawasan dan solusi dari para ahli untuk membantu memahami masalah bisnis, menemukan peluang, dan menentukan strategi yang tepat untuk perkembangan usaha.</p>
                        <div class="product-analisa">
                            <span><h4>200+</h4> konsultan</span>
                            <span><h4>20+</h4> mentor</span>
                        </div>
                    </li>
                    <li>
                        <h3>Belajar Dari Dasar</h3>
                        <p>Pelajari dunia bisnis dan ekonomi mulai dari dasar dengan materi yang mudah dipahami, sehingga kamu dapat membangun pengetahuan dan keterampilan secara bertahap.</p>
                        <div class="product-analisa">
                            <span><h4>20+</h4> materi</span>
                            <span><h4>30+</h4> Video</span>
                        </div>
                    </li>
                    <li>
                        <h3>Buku Tentang Bisnis</h3>
                        <p>Temukan berbagai rekomendasi buku yang membahas bisnis, ekonomi, strategi, dan pengembangan diri untuk memperluas wawasan serta membantu meningkatkan kemampuan dalam mengelola bisnis.</p>
                        <div class="product-analisa">
                            <span><h4>100+</h4> buku bisnis</span>
                            <span><h4>300+</h4> buku Motivasi</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="new-box">
            <div class="event">
                
            </div>
            <div class="new-fitur">

            </div>
        </div>
        <div class="our-product">
            <ul>
                <li>
                    <i class="fa-solid fa-chalkboard-user"></i>
                    <span>
                        <h4>Belajar & Tingkatkan Kemampuan</h4>
                        <p>Pelajari bisnis, pemasaran, ekonomi, dan keterampilan lainnya melalui course yang praktis dan terarah.</p>
                    </span>
                    <a href="">selengkapnya<i class="fa-solid fa-angles-right"></i></a>
                </li>
                <li>
                    <i class="fa-solid fa-microphone-lines"></i>
                    <span>
                        <h4>Dapatkan Arahan yang Tepat</h4>
                        <p>Dapatkan insight dan saran dari konsultasi untuk membantu menghadapi tantangan dan mengembangkan bisnis.</p>
                    </span>
                    <a href="">selengkapnya<i class="fa-solid fa-angles-right"></i></a>
                </li>
                <li>
                    <i class="fa-solid fa-book"></i>
                    <span>
                        <h4>Dapatkan Arahan yang Tepat</h4>
                        <p>Akses berbagai artikel, panduan, dan informasi seputar bisnis, ekonomi, pasar, dan industri.</p>
                    </span>
                    <a href="">selengkapnya<i class="fa-solid fa-angles-right"></i></a>
                </li>
            </ul>
        </div>
        <div class="">tentang ahli kumpulan ahli</div>
        <div class="">mulai dari dasar</div>
        <div class="">forum penjelasan</div>    
        <div class="tool-umkm"></div>
        <div class="">Berikan ulasan</div>
    </div>
  </main>

    <!-- script -->
    <script src="../components/Navbar.js"></script>
    <script src="../public/js/component.js"></script>
    <!-- script end-->
</body>
</html>
