<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kembangin</title>
    <link rel="stylesheet" href="../public/css/component.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css">
</head>
<body data-page="home">
  <site-navbar></site-navbar>

  <main>
    <section class="hero">
        <div class="left-side">
            <span class="tema">Insight untuk Pertumbuhan</span>
            <h2 class="title">Bangun Bisnis Lebih Cerdas dan <span>Pahami Ekonomi </span> Lebih Dalam</h2>
            <p class="description">Pelajari bagaimana ekonomi memengaruhi bisnis, temukan strategi untuk mengembangkan usaha, dan dapatkan insight praktis yang bisa langsung diterapkan</p>
            <div class="button">
                <a href="" class="selengkapnya">Selengkapnya</a>
                <a href="" class="diskusi">Diskusi</a>
            </div>
            <div class="count-analist">
                <span>
                    <h4>100+</h4>
                    <span>orang berlangganan</span>
                </span>
                <span>
                    <h4>30+</h4>
                    <span>konsultan bisnis</span>
                </span>
                <span>
                    <h4>1jt+</h4>
                    <span>user aktif</span>
                </span>
            </div>
            <div class="colab">
                <ul>
                    <li><img src="../assets/logo-color-yellow.jpg" alt=""></li>
                    <li><img src="../assets/logo-color-blue.jpg" alt=""></li>
                    <li><img src="../assets/logo-color-violet.jpg" alt=""></li>
                </ul>
                <p>Bekerjasama dengan lebih dari <span>200</span> perusaahan besar dan terpercaya</p>
            </div>
        </div>
        <div class="right-side">
            <img src="../assets/home-page-img.png" alt="">
        </div>
    </section>
  </main>

    <!-- script -->
    <script src="../components/Navbar.js"></script>
    <script src="../public/js/component.js"></script>
    <!-- script end-->
</body>
</html>