<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kembangin</title>
    <link rel="stylesheet" href="../public/css/component.css">
    <link rel="stylesheet" href="../public/css/liblary.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css">
</head>
<body data-page="liblary">
  <site-navbar></site-navbar>
  <main>
    <section>
        <div class="header">
          <div class="search-liblary">
            <input type="text">
          </div>
          <div class="filter"></div>
        </div>
        <div class="liblary-container">
          <div class="book-card">
            <img src="../assets/book-asset.jpg" alt="">
          </div>
        </div>
        <div class="sidebar">
          analisa buku ada berapa buku
        </div>
    </section>
  </main>
    <!-- script -->
    <script src="../components/Navbar.js"></script>
    <script src="../public/js/component.js"></script>
    <!-- script end-->
</body>
</html>